*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow: hidden;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.2;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
}

.content-container {
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.8;
}

.key-features {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.8;
}

.key-features .list-title {
    font-weight: 600;
    display: block;
    font-size: 26px;
    color: #000000;
}

.instructions {
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    margin: 30px 0;
}

.instructions a {
    color: #000000;
    text-decoration: underline;
}

.instructions code {
    background-color: #f5f5f5;
    padding: 4px 8px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    font-family: 'Courier New', monospace;
    color: #000000;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 0px 10px 0px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.footer a {
    color: #000000;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}